<style>
  /* Colors */
  :root {
    --primary-color: linear-gradient(90deg, #7d02b6, #ef2793);
    --background-color: #121114;
    --secondary-color: #c6f432;
    --secondary-background: #f5f5f7;
    --text-color: #f2f1f3;
    --secondary-text: #bfbac4;
    --cameo-color: #6d2ebf;
  }

  .text_color {
    color: var(--text-color);
  }

  .secondary_text {
    color: var(--secondary-text);
  }

  .work_card {
    background: #201e23;
    width: 100%;
    border-radius: 10px;
  }
</style>

<div class="row">
  <div class="col-12 col-md-4 mb-4">
    <div class="work_card p-3 h-100">
      <h4 class="text_color fw-bold">Browse Celebrities</h4>
      <p class="secondary_text">
        Explore a diverse lineup of celebrities from various fields. From actors
        and musicians to influencers and sports personalities, we've got a
        star-studded cast waiting for you.
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="work_card p-3 h-100">
      <h4 class="text_color fw-bold">Submit Your Request</h4>
      <p class="secondary_text">
        Fill out a simple form to let your chosen celebrity know what you're
        celebrating and any specific details you want in the video. It's your
        moment – make it yours!
      </p>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-4">
    <div class="work_card p-3 h-100">
      <h4 class="text_color fw-bold">Get Your Video</h4>
      <p class="secondary_text">
        Once your request is accepted, sit back and wait for your personalized
        video message to arrive. It's like having a one-on-one with your
        favorite celebrity!
      </p>
    </div>
  </div>
</div>
