{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}
<style>
  /* Colors */
  :root {
    --primary-color: linear-gradient(90deg, #7d02b6, #ef2793);
    --background-color: #121114;
    --secondary-color: #c6f432;
    --secondary-background: #f5f5f7;
    --text-color: #f2f1f3;
    --secondary-text: #bfbac4;
    --cameo-color: #6d2ebf;
  }

  .text_color {
    color: var(--text-color);
  }

  .secondary_text {
    color: var(--secondary-text);
  }
</style>

<div class="container section_padding pt-5">
  <!-- ======= trending Partial ======= -->
  {% include 'partials/trendingPartial.html' %}
</div>

<!-- divider  -->
{% endblock %}
